<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
      <style media="screen, print">
        * {
          font-family: Courier;
          font-size: 8pt;
          color: #696969;
        }
      table {
        width: 100%;
        max-width: 841px;
        max-height: 595px;
      }
      .right {
        text-align: right;
      }
      .left {
        text-align: left;
      }
      .red {
        background-color: #ffe6e6;
      }
      </style>
      </head>
  <body>
    <br>
    <table>
      <tbody>
        <tr>
          <td>{{version}}</td>
          <td>FLEET NordStar</span></td>
        </tr>
        <tr>
          <td>L O A D S H E E T</td>
          <td></td>
          <td>CHECKED</td>
          <td>APPROVED</td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
          <td>
            ALL WEIGHTS IN KG
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <table>
      <thead>
        <tr>
          <td>FROM/TO</td>
          <td>FLIGHT</td>
          <td>A/C REG</td>
          <td>VERSION</td>
          <td>CREW</td>
          <td>PANTRY</td>
          <td>DATE</td>
          <td>TIME</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{from}}/{{to}}</td>
          <td>{{flight}}</td>
          <td>{{mod}}</td>
          <td>{{tailVersion}}</td>
          <td>{{crew}}</td>
          <td>{{pantry}}</td>
          <td>{{DATE}}</td>
          <td>{{TIME}}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <table class="right" border="0">
      <thead>
        <tr>
          <td></td>
          <td></td>
          <td>WEIGHT</td>
          <td>&nbsp;&nbsp;&nbsp;</td>
          <td colspan="10" align="center">DISTRIBUTION</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="left">LOAD IN COMPARTMENTS</td>
          <td></td>
          <td>{{cargosWeight}}</td>
          <td></td>
          {{cargos}}
          <td></td>
        </tr>
        <tr>
          <td class="left">PASSENGER</td>
          <td></td>
          <td>{{passWeight}}</td>
          <td></td>
          {{passengers}}
          <td>TTL {{ttl}}</td>
        </tr>
        <tr>
          <td colspan="4"></td>
          {{cabins}}
          <td>PAX {{pax}}</td>
        </tr>
        <tr>
          <td class="left">TOTAL TRAFFIC LOAD</td>
          <td></td>
          <td>{{totalWeight}}</td>
          <td></td>
        </tr>
        <tr>
          <td class="left">DRY OPERATING WEIGHT</td>
          <td></td>
          <td>{{DOW}}</td>
          <td></td>
        </tr>
        <tr>
          <td class="left">ZERO FUEL WEIGHT</td>
          <td>ACTUAL</td>
          <td>{{zfw}}</td>
          <td></td>
          <td>MAX&nbsp;</td>
          <td>{{zfwMax}}</td>
        </tr>
        <tr>
          <td class="left">TAKE OFF FUEL</td>
          <td></td>
          <td>{{takeOffFuel}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="left">TAKE OFF WEIGHT</td>
          <td>ACTUAL</td>
          <td>{{tow}}</td>
          <td></td>
          <td>MAX&nbsp;</td>
          <td>{{towMax}}</td>
        </tr>
        <tr>
          <td class="left">TRIP FUEL</td>
          <td></td>
          <td>{{tripFuel}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td class="left">LANDING WEIGHT</td>
          <td>ACTUAL</td>
          <td>{{lw}}</td>
          <td></td>
          <td>MAX&nbsp;</td>
          <td>{{lwMax}}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <table table-layout="fixed" border="0">
      <thead>
        <tr>
          <td colspan="3">BALANCE AND SEATING CONDITIONS</td>
          <td>MAC %</td>
          <td colspan="3" align="center">LAST MINUTE CHANGES</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>BI</td>
          <td>{{BI}}</td>
          <td>ZFW</td>
          <td>{{zfwMac}}</td>
          <td>&nbsp;&nbsp;&nbsp;</td>
          <td>SPEC</td>
          <td>WEIGHT</td>
        </tr>
        <tr>
          <td>ZFWI</td>
          <td>{{zfi}}</td>
          <td>TOW</td>
          <td>{{towMac}}</td>
          <td colspan="3"></td>
        </tr>
        <tr>
          <td>TOWI</td>
          <td>{{toi}}</td>
          <td>LDW</td>
          <td>{{lwMac}}</td>
          <td colspan="3"></td>
        </tr>
        <tr>
          <td>LDWI</td>
          <td>{{li}}</td>
          <td>STABTO</td>
          <td>{{stab}}</td>
          <td colspan="3"></td>
        </tr>
        <tr>
          <td>DOWI</td>
          <td>{{DOI}}</td>
          <td colspan="5"></td>
        </tr>
        <tr><td colspan="7">&nbsp;</td></tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4">UNDERLOAD BEFOR LMC</td>
          <td colspan="3" align="center">LMC TOTAL</td>
        </tr>
      </tfoot>
    </table>
    <img src="data:image/png;base64,{{BASE64_STRING}}" alt="base64-img" width="595" height="595">
  </body>
</html>

